.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 20px;
    padding: 7px 10px;
    display: block;
    width: 60%;
    background: #EDEDED;
    min-height: 73px;
    animation:fly-in-from-left .5s 0s ease both;
    transform-origin:top left;
    color: #555;
    border: 1px solid #E7E7E7;

}

.chat li.left {
    float: left;
    box-shadow: -1px 1px 0px 1px #D8D8D8;
}
.chat li.right {
    float: right;
    animation-name:fly-in-from-right;
    animation-delay:0s;
    transform-origin:top right;
    box-shadow: 1px 1px 0px 1px #D8D8D8;
}


.chat .header {
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 5px;
}

.typing-state {
    color: #333;
}




.chat li.left .chat-img {
    margin-right: 5px;
}


.chat li.right .chat-img {
    margin-left: 5px;
}


.chat li img {
    width: 56px;
    height: 56px;
}

.chat li .header strong {
    color: #33B74C;
    font-size: 14px;
    font-weight: normal;
}

.chat li.left .header strong {
    margin-right: 10px;
}

.chat li.right .header strong {
    margin-left: 10px;
}

.chat .header .fa {
    margin-right: 3px;
}


.chat li.left .chat-body
{
    margin-left: 60px;
    
}

.chat li.right .chat-body
{
    margin-right: 60px;
    text-align: right;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    overflow-x: hidden;
}


@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}
