.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 20px;
    padding: 5px 5px;
    display: block;
    clear: both;
    width: 49%;
    background: #fff;
    min-height: 60px;
    color: #555;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 1px 1px 0px 1px #D8D8D8;
       -moz-box-shadow: 1px 1px 0px 1px #D8D8D8;
        -ms-box-shadow: 1px 1px 0px 1px #D8D8D8;
         -o-box-shadow: 1px 1px 0px 1px #D8D8D8;
            box-shadow: 1px 1px 0px 1px #D8D8D8;

}

.chat li.left {
    float: left;
    box-shadow: -1px 1px 0px 1px #D8D8D8;
}
.chat li.right {
    float: right;
    box-shadow: 1px 1px 0px 1px #D8D8D8;
}


.chat .header {
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.typing-state {
    margin-bottom: 0;
    color: #8A8A8A;
    font-size: 13px;
}


.chat li img {
    width: 50px;
    height: 50px;
}

.chat li .header strong {
    color: #33B74C;
    font-size: 14px;
    font-weight: normal;
}

.chat li.left .header strong {
    margin-right: 10px;
}

.chat li.right .header strong {
    margin-left: 10px;
}


.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
    text-align: right;
}

.chat li .chat-body {
    word-wrap: break-word;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #e5e5e5;
}

@media (max-width: 768px) {
    .chat li {
        width: 70%;
    }
}